# Default ignored files
/shelf/
/workspace.xml
/idea./
# Datasource local storage ignored files
/../../../../../:\Users\ivanp\ValutaOmvandlare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out/artifacts/ValutaOmvandlare_jar/ValutaOmvandlare.jar
